form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar, 
.pub_image .container-avatar
{
    width: 35px;
    border-radius: 100%;
    overflow: hidden;
    height: 35px;
    margin-left: 20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img
{
    height: 100%;
}

.pub_image .container-avatar{
    float: left;
    margin-right: 15px;
}

.pub_image .data-user{
    line-height: 35px;
    font-weight: bold;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .nickname{
    color: gray;
}

.image-container img{
    width: 100%;
}

.image-container{
    max-height: 400px;
    width:100%;
    overflow: hidden;
}

.image-detail{
    max-height: 560px;
}

.pub_image .card-body{
    padding: 0px;
}

.description{
    padding: 20px;
    padding-bottom: 0px;
}

.btn-comments{
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

.likes{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

.likes img{
    width: 20px;
}

.pub_image_detail .comments{
    padding: 20px;
}

.numer-likes{
    color: gray;
    font-size: 12px;
}